/* ---header-------------------------- */
body {
  padding-top: 130px;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 130px;
  border-bottom: 1px solid var(--main-color);
  background-color: #fff;
}

header.active {
  position: fixed;
  top: -40px;
}

/* ---메뉴바-------------------------- */
header nav.member {
  height: 40px;
  background-color: var(--dark-color);
}

header nav.member div.center {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  text-align: right;
  line-height: 40px;
}

header nav.member div.center a {
  margin-left: 10px;
  color: #aaa;
  font-size: 0.85em;
  font-weight: bold;
}

header nav.member div.center a:hover {
  color: #fff;
}

header div.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}

header div.bottom h1 {
  height: 60%;
}

header div.bottom h1 img {
  height: 100%;
}

nav.gnb {
  height: 45px;
}

nav.gnb > ul {
  display: flex;
  height: inherit;
}

nav.gnb > ul > li {
  height: inherit;
}

/* ---1depths-------------------------- */
nav.gnb > ul > li > a {
  display: block;
  height: inherit;
  padding: 0 50px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

nav.gnb > ul > li:hover > a {
  color: red;
}

/* ---2depths-------------------------- */
nav.gnb > ul > li > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  background: var(--main-color);
  text-align: center;
  color: white;
  transition: all 0.3s;
}

nav.gnb > ul > li > ul > li > a:hover {
  background-color: var(--sub-color);
}

nav.gnb > ul > li > ul {
  display: none;
}

nav.gnb .menu_member,
nav.gnb .menu_sns,
nav.gnb h6 {
  display: none;
}

nav.quick {
  position: absolute;
  right: 30px;
  width: 80px;
  z-index: 10;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}

nav.quick.active {
  opacity: 1;
  pointer-events: all;
}

nav.quick > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
}

nav.quick b {
  background-color: orange;
  height: 35px;
}
nav.quick a {
  background-color: #666;
  height: 90px;
  border-bottom: 1px solid #999;
}

nav.quick a:hover {
  background-color: #000;
}

nav.quick a i {
  font-size: 2em;
  margin-bottom: 5px;
}

nav.quick button {
  width: 100%;
  height: 35px;
  background-color: orange;
}
