section.online form div {
  display: flex;
  margin-top: -1px;
  border: 1px solid #ccc;
}

section.online form div label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  background-color: #eee;
  font-weight: 600;
}

section.online form div p {
  flex: 1;
  padding: 7px;
}

section.online form div p *:not(input[type='tel']) {
  width: 100%;
}

section.online form div p * {
  padding: 5px;
  border: 1px solid #ddd;
  transition: all 1s;
}

section.online form div p textarea {
  height: 200px;
  resize: vertical;
}

section.online form div p.tel {
  display: flex;
}

section.online form div p.tel input {
  flex: 1;
}

section.online form div p.tel input:nth-child(2) {
  margin: 0 5px;
}

section.online form div p *:focus {
  background-color: var(--dark-color);
  color: #fff;
}

section.online form > p {
  padding: 7px;
  text-align: center;
}

section.online form > p button {
  margin-top: 10px;
  padding: 7px 30px;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

section.online form > p button[type='submit'] {
  background-color: var(--sub-color);
}

section.online form > p button[type='reset'] {
  background-color: var(--dark-color);
}

section.online form > p button[type='submit']:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
